@charset "UTF-8";
body h1 {
    color: #F608BB;
    font-family: "ヒラギノ角ゴシック Sans W8";
    text-align: center;
}
body p img {
    background-color: #A72022;
    display: block;
    border: thick solid #AB7A15;
}
body p u {
    color: #F4727C;
}
